<%- include('partials/header') %>

    <div>
        <h2>Editar Categoria:</h2>
        <a href="/admin/categorias">Categorias</a>
    </div>

    <div>
        <form method="POST">
            <label for="categoria">Categoria:</label>
            <input type="text" id="categoria" name="categoria" value="<%= categoria.categoria %>" required>

            <button type="submit">Salvar Categoria</button>
        </form>
    </div>

<%- include('partials/footer') %>