<%- include('partials/header') %>

    <h2>Admin:</h2>
    <div>
        <ul>
            <li><a href="/admin/categorias">Categorias</a></li>
            <li><a href="/admin/vagas">Vagas</a></li>
        </ul>
    </div>
    
<%- include('partials/footer') %>