<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobify - <%- title %> - DevPleno</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
</head>
<body>
    <h1>Olá FullStack Lab</h1>

    <a href="/">
        <img src="/images/logo.png" alt="Logo Jobify - DevPleno">
    </a>
    <p>We are Jobify - Join us!</p>